strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*nuxt*
public-hoist-pattern[]=*vue*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*@nuxtjs/*
public-hoist-pattern[]=*tailwindcss*
public-hoist-pattern[]=*postcss*
